.pagination {
    justify-content: center;
}

.page-item {
    margin-right: 10px;
}

.page-link {
    background-color: transparent;
    color: white;
    border: none;
    font-size: 20px;
}


.page-link:hover {
    background-color: transparent;
    color: white;
    border: none;
}


.page-item.active .page-link {
    z-index: 3;
    color: rgb(246, 38, 130);
    border: none;
    background-color: transparent;
}

.page-item.disabled .page-link {
    color: #ccc;
    pointer-events: inherit;
    cursor: not-allowed;
    background-color: transparent;
    border:none;
}